In [1]:
import pandas as pd
#https://archive.ics.uci.edu/ml/datasets/Statlog+%28German+Credit+Data%29

In [2]:
column_names = ['status', 'month', 'credit_history',
    'purpose', 'credit_amount', 'savings', 'employment',
    'investment_as_income_percentage', 'personal_status',
    'other_debtors', 'residence_since', 'property', 'age',
    'installment_plans', 'housing', 'number_of_credits',
    'skill_level', 'people_liable_for', 'telephone',
    'foreign_worker', 'credit']
df = pd.read_csv('../Data/GERMAN_CREDIT/german.data', sep=' ', header=None, names=column_names,
                     na_values=[])

In [3]:
df.head()

,status,month,credit_history,purpose,credit_amount,savings,employment,investment_as_income_percentage,personal_status,other_debtors,...,property,age,installment_plans,housing,number_of_credits,skill_level,people_liable_for,telephone,foreign_worker,credit
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [4]:
df.columns

Index(['status', 'month', 'credit_history', 'purpose', 'credit_amount',
       'savings', 'employment', 'investment_as_income_percentage',
       'personal_status', 'other_debtors', 'residence_since', 'property',
       'age', 'installment_plans', 'housing', 'number_of_credits',
       'skill_level', 'people_liable_for', 'telephone', 'foreign_worker',
       'credit'],
      dtype='object')

In [5]:
status_map = {'A91': 'male', 'A93': 'male', 'A94': 'male',
                  'A92': 'female', 'A95': 'female'}
df['sex'] = df['personal_status'].replace(status_map)

In [6]:
df = df.drop('personal_status' , axis=1)

In [7]:
df.columns

Index(['status', 'month', 'credit_history', 'purpose', 'credit_amount',
       'savings', 'employment', 'investment_as_income_percentage',
       'other_debtors', 'residence_since', 'property', 'age',
       'installment_plans', 'housing', 'number_of_credits', 'skill_level',
       'people_liable_for', 'telephone', 'foreign_worker', 'credit', 'sex'],
      dtype='object')

In [8]:
from aif360.datasets import GermanDataset

WARNING:root:No module named 'tempeh': LawSchoolGPADataset will be unavailable. To install, run:
pip install 'aif360[LawSchoolGPA]'

In [10]:
german = GermanDataset()

In [11]:
german

               instance weights features                \

                                   month credit_amount
instance names
0                           1.0      6.0        1169.0
1                           1.0     48.0        5951.0
2                           1.0     12.0        2096.0
3                           1.0     42.0        7882.0
4                           1.0     24.0        4870.0
...                         ...      ...           ...
995                         1.0     12.0        1736.0
996                         1.0     30.0        3857.0
997                         1.0     12.0         804.0
998                         1.0     45.0        1845.0
999                         1.0     45.0        4576.0

                                                                \

               investment_as_income_percentage residence_since
instance names
0                                          4.0             4.0
1                                          2.0             2.0
2                                          2.0             3.0
3                                          2.0             4.0
4                                          3.0             4.0
...                                        ...             ...
995                                        3.0             4.0
996                                        4.0             4.0
997                                        4.0             4.0
998                                        4.0             4.0
999                                        3.0             4.0

                                                                        \
               protected attribute
                               age number_of_credits people_liable_for
instance names
0                              1.0               2.0               1.0
1                              0.0               1.0               1.0
2                              1.0               1.0               2.0
3                              1.0               1.0               2.0
4                              1.0               2.0               2.0
...                            ...               ...               ...
995                            1.0               1.0               1.0
996                            1.0               1.0               1.0
997                            1.0               1.0               1.0
998                            0.0               1.0               1.0
999                            1.0               1.0               1.0

                                               ...               \
               protected attribute             ...
                               sex status=A11  ... housing=A153
instance names                                 ...
0                              1.0        1.0  ...          0.0
1                              0.0        0.0  ...          0.0
2                              1.0        0.0  ...          0.0
3                              1.0        1.0  ...          1.0
4                              1.0        1.0  ...          1.0
...                            ...        ...  ...          ...
995                            0.0        0.0  ...          0.0
996                            1.0        1.0  ...          0.0
997                            1.0        0.0  ...          0.0
998                            1.0        1.0  ...          1.0
999                            1.0        0.0  ...          0.0

                                                                   \

               skill_level=A171 skill_level=A172 skill_level=A173
instance names
0                           0.0              0.0              1.0
1                           0.0              0.0              1.0
2                           0.0              1.0              0.0
3                           0.0              0.0              1.0
4                           0.0              0.0              1.0
...                         ...              ...              ...
995                         0.0              1.0              0.0
996                         0.0              0.0              0.0
997                         0.0              0.0              1.0
998                         0.0              0.0              1.0
999                         0.0              0.0              1.0

                                                               \

               skill_level=A174 telephone=A191 telephone=A192
instance names
0                           0.0            0.0            1.0
1                           0.0            1.0            0.0
2                           0.0            1.0            0.0
3                           0.0            1.0            0.0
4                           0.0            1.0            0.0
...                         ...            ...            ...
995                         0.0            1.0            0.0
996                         1.0            0.0            1.0
997                         0.0            1.0            0.0
998                         0.0            0.0            1.0
999                         0.0            1.0            0.0

                                                       labels

               foreign_worker=A201 foreign_worker=A202
instance names
0                              1.0                 0.0    1.0
1                              1.0                 0.0    2.0
2                              1.0                 0.0    1.0
3                              1.0                 0.0    1.0
4                              1.0                 0.0    2.0
...                            ...                 ...    ...
995                            1.0                 0.0    1.0
996                            1.0                 0.0    1.0
997                            1.0                 0.0    1.0
998                            1.0                 0.0    2.0
999                            1.0                 0.0    1.0

[1000 rows x 60 columns]